body {
	background-color: grey;
}

#wrapper {
	width: 70%;
	min-width: 200px;
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: white;
	border: 1px solid black;
}

#wrapper > * {
	margin: 5px;
}
